<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            Master
                                            
                                
                    
        </title>
        <link rel="stylesheet" href="/css/bulma.min.css">
    </head>

    <body>

        <section class="section">
            <div class="container">
                <nav class="navbar" role="navigation" aria-label="main navigation">
                    <div class="navbar-menu">
                        <div class="navbar-start">
                            <a class="navbar-item" href="{{ url('blog.index') }}">
                                Blog (CRUD)
                                                                                        
                                                            
                            </a>

                            <a class="navbar-item" href="{{ url('file.index') }}">
                                File
                                                                                        
                                                            
                            </a>

                            <a class="navbar-item" href="{{ url('image.index') }}">
                                Image
                                                                                        
                                                            
                            </a>

                        </div>

                    </div>
                </nav>
                <hr>
                <a href="{{ url('blog.create') }}" class="button is-primary is-small">
                    Create
                                                                            
                                                        
                                    
                </a>
                <hr>
                <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                    <thead>
                        <tr>
                            <th>
                                ID
                                                                                                                            
                                                                                            
                                                            
                            </th>
                            <th>
                                Title
                                                                                                                            
                                                                                            
                                                            
                            </th>
                            <th>
                                Body
                                                                                                                            
                                                                                            
                                                            
                            </th>
                            <th>
                                Actions
                                                                                                                            
                                                                                            
                                                            
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for record in records %}
                            <tr>
                                <td>
                                    {{ record.getId() }}
                                </td>
                                <td>
                                    {{ record.getTitle() }}
                                </td>
                                <td>
                                    {{ record.getBody() }}
                                </td>
                                <td width="150px">
                                    <a href="{{ url('blog.edit', {'id': record.getId()}) }}" class="button is-warning is-small">
                                        Edit
                                    </a>
                                    <form action="{{ url('blog.delete',{'id': record.getId()})  }}" method="POST" style="display: inline;">
                                        <button type="submit" class="button is-danger is-small">
                                            Delete
                                        </button>
                                    </form>
                                </td>

                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </section>
    </body>

</html>
