<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            Master
                                
                    
        </title>
        <link rel="stylesheet" href="/css/bulma.min.css">
    </head>

    <body>

        <section class="section">
            <div class="container">
                <nav class="navbar" role="navigation" aria-label="main navigation">
                    <div class="navbar-menu">
                        <div class="navbar-start">
                            <a class="navbar-item" href="{{ url('blog.index') }}">
                                Blog (CRUD)
                                                                                        
                                                            
                            </a>

                            <a class="navbar-item" href="{{ url('file.index') }}">
                                File
                                                                                        
                                                            
                            </a>

                            <a class="navbar-item" href="{{ url('image.index') }}">
                                Image
                                                                                        
                                                            
                            </a>

                        </div>

                    </div>
                </nav>
                <hr>
                <form action="{{ url('image.store') }}" method="POST" enctype="multipart/form-data">
                    <h1>
                        Image Upload
                                                                    
                                            
                    </h1>
                    <div class="field">
                        <label class="label">
                            Image
                                                                                
                                                    
                        </label>
                        <div class="control">
                            <input class="input" type="file" name="image">
                        </div>
                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                            <button type="submit" class="button is-success">
                                Save
                                                                                            
                                                            
                            </button>
                        </div>
                    </div>

                </form>

                <hr>
                <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                    <thead>
                        <tr>
                            <th>
                                File Name
                                                                                            
                                                            
                            </th>
                            <th>
                                Actions
                                                                                            
                                                            
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for file in files %}
                            <tr>
                                <td>
                                    {{ file }}
                                </td>
                                <td>
                                    <a href="images{{ asset( file) }}" target="_blank" class="button is-info is-small">
                                        Show
                                    </a>
                                    
                                    <form action="{{ url('image.delete', {'id': file}) }}" method="POST" style="display: inline;">

                                        <button type="submit" class="button is-danger is-small">
                                            Delete
                                                                                                    
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </section>
    </body>

</html>
