<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            Master
        </title>
        <link rel="stylesheet" href="/css/bulma.min.css">
    </head>

    <body>

        <section class="section">
            <div class="container">
                <nav class="navbar" role="navigation" aria-label="main navigation">
                    <div class="navbar-menu">
                        <div class="navbar-start">
                            <a class="navbar-item" href="{{ url('blog.index') }}">
                                Blog (CRUD)
                                                                                        
                                                            
                            </a>

                            <a class="navbar-item" href="{{ url('file.index') }}">
                                File
                                                                                        
                                                            
                            </a>

                            <a class="navbar-item" href="{{ url('image.index') }}">
                                Image
                                                                                        
                                                            
                            </a>

                        </div>

                    </div>
                </nav>
                <hr>
                <a href="{{ url('file.index') }}" class="button is-primary is-small">
                    Back
                </a>
                <hr>
                <form action="{{ url('file.store') }}" method="POST">
                    <div class="field">
                        <label class="label">
                            Text File
                        </label>
                        <div class="control">
                            <textarea class="textarea" name="content" rows="15">{{ data ? data : '' }}</textarea>

                        </div>
                    </div>
                    <button type="submit" class="button is-link">
                        Save
                    </button>
                </form>
            </div>
        </section>
    </body>

</html>
